.answer {
  display: flex;
  flex-direction: column;
  grid-area: answer;
  justify-content: center;
  text-align: center;
}

.answer__word {
  font-size: $font-size-large;
  @media (min-width: $desktop-breakpoint) {
    font-size: 3vw;
  }
}

.answer__word > span {
  margin: 0 4px;
}

.answer__word-type {
  font-style: italic;
  font-size: $font-size-large;
}

.answer__word,
.answer__word-type {
  margin: 0;
}
