.answer {
  grid-area: answer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding: 2rem;
}

.answer__value {
  text-align: center;
  .word {
    font-size: 2.6rem;
    margin: 0 0.65rem;
    @media (max-width: 375px) {
      font-size: 2rem;
    }
    @media (min-width: 768px) {
      font-size: 3rem;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.answer__value,
.answer__hint {
  text-align: center;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 650px;
  }
}

.answer__hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 2rem;
  @media (max-width: 375px) {
    font-size: 1.6rem;
  }
  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.answer__hint__word-type {
  font-style: italic;
}
