.hangman-SVG {
  margin: 0 auto;
  display: flex;
  grid-area: hangman;
}

.hangman-SVG > svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

#canvas_background {
  fill: var(--color-white);
}

.hangman-draw,
#canvas_border {
  stroke: var(--color-dark-grey);
}
