/***********************

    SIZES

***********************/
.icon--nav {
  width: 24px;
  height: 24px;
}

/***********************

    COLORS

***********************/


.icon--nav {
  & path {
    fill: var(--color-black);
  }
}
