/***********************

    SIZES

***********************/
.icon--nav {
  width: 27px;
  height: 27px;
}

/***********************

    COLORS

***********************/


.icon--nav {
  & path {
    fill: var(--color-black);
  }
}
