.letter-grid {
  grid-area: letters;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
  @media (min-width: $desktop-breakpoint) {
    grid-gap: $s-size;
  }
}

.button--letter {
  text-transform: uppercase;
  font-size: 5vw;
  @media (min-width: $desktop-breakpoint) {
    font-size: 3vw;
  }
}
