.loading-indicator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: opacity 2s;
  opacity: 1;
  progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    appearance: none;
    height: .8rem;
    &::-webkit-progress-bar {
      background: transparent;
    }
    &::-webkit-progress-value {
      background: var(--color-blue);
    }
  }
  &--complete {
    opacity: 0;
  }
}
