.main-nav {
  background: var(--color-white);
  margin: 0 auto;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-list__item {
  cursor: pointer;
  padding: 1rem;
  &:hover {
    opacity: .6;
  }
}
