.mode {
  // display: flex;
  border-radius: $radius-default;
  overflow: hidden;
  display: flex;
  max-width: 440px;
  margin: 3rem auto;
  grid-column: 1 / -1;
  font-size: 2.8rem;
}

.mode .option {
  background: var(--color-light-grey);
  cursor: pointer;
  flex: 1 0 50%;
  text-align: center;
}

.mode .option--selected {
  background: var(--color-blue);
  // box-shadow: 4px -2px 4px 2px var(--color-transparent) inset;
  color: $white;
}

.mode .option__text {
  display: inline-block;
  padding: 1rem 3rem;
}

.mode .option__input {
  display: none;
}
