#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px auto;
  @media (min-width: 768px) {
    grid-template-rows: auto;
    grid-template-columns: $nav-width auto;
  }
}
