.sidebar {
  background: var(--color-dark-blue-transparent);
  height: 100vh;
  position: fixed;
  width: 250px;
  top: 75px;
  transition: left .6s;
}

.sidebar--open {
  left: 0;
}

.sidebar--closed {
  left: -250px;
}

.sidebar--open,
.sidebar--closed {
  @media (min-width: $desktop-breakpoint) {
    left: 0;
    top: 75px;
  }
}
