.trigger-container {
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.meat {
  background: var(--color-white);
  border-radius: 5px;
  height: 5px;
  width: 90%;
  transition: transform .4s;
}

.trigger-container--closed {
  & .meat {
    margin-top: 4px;
  }
}

.trigger-container--open {
  position: relative;
  & .meat {
    top: 12px;
  }
  & .meat:first-child {
    position: absolute;
    transform: rotate(45deg);
  }
  & .meat:nth-child(n + 2) {
    position: absolute;
    transform: rotate(-45deg);
  }
}
