.wins-losses {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 640px;
  text-align: center;
  font-size: 1.8rem;
  progress {
    appearance: none;
    height: 5rem;
    width: 100%;
    border-radius: $radius-default;
    overflow: hidden;
    &::-webkit-progress-bar {
      background: var(--color-blue);
    }
    &::-webkit-progress-value {
      background: var(--color-grey);
    }
  }
}

.wins-losses__values {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
