.wins-losses {
  padding: 0 3rem;
  display: flex;
  .wins,
  .losses {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.8rem;
    min-width: 10%;
    max-width: 90%;
  }
  .wins {
    background: var(--color-blue);
    color: var(--color-white);
  }
  .losses {
    background: var(--color-grey);
    color: var(--color-white);
  }
}
