.words-settings {
  display: grid;
  grid-template-columns: 1fr;
  .label {
    font-size: 1.6rem;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light-grey);
    &--min-length {
      display: block;
      .label__text {
        display: flex;
        justify-content: space-between;
      }
      .label__range {
        display: flex;
        padding: 2rem 0;
        input {
          appearance: none;
          width: calc(100% - 4rem);
          height: 1.4rem;
          margin: 0 auto;
          background: var(--color-grey);
          outline: none;
          border-radius: $radius-default;
          // opacity: 0.7;
          // &:hover {
          //   opacity: 1;
          // }
          &::-webkit-slider-thumb {
            appearance: none;
            width: 2.5rem;
            height: 2.5rem;
            background: var(--color-blue);
            cursor: pointer;
            border-radius: 50%;
          }
          @media (min-width: 768px) {
            width: 100%;
          }
        }
      }
      .label__results {
        display: block;
        text-align: right;
        font-style: italic;
        color: var(--color-med-grey);
        font-size: 1.4rem;
      }
    }
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  .label__text {
    line-height: 34px;
  }
}
