.module--past-games {
  grid-area: past-words;
}

.module--past-games .module__title {
  padding-left: $s-size;
}

.module--past-games a {
  color: var(--color-blue);
  text-decoration: none;
}

.module--past-games a:hover {
  text-decoration: underline;
}
