.module--settings {
  grid-area: settings;
  padding: $s-size;
}

.module--settings input[type="radio"] {
  display: none;
}

.module--settings input[type="radio"] + label {
  @extend .button;
  cursor: pointer;
  background: var(--color-off-white);
  padding: $s-size $l-size;
  margin: 0 $s-size;
}

.module--settings input[type="radio"]:checked + label {
  background: var(--color-blue);
}

.form > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
