.page--play {
  height: calc(100vh - #{$nav-height});
  display: grid;
  // grid-template-rows: minmax(200px, 35vh) auto minmax(200px, 35vh);
  // grid-template-rows: 3fr 2fr 3fr;
  grid-template-rows: minmax(100px, 30vh) 200px 1fr;
  grid-template-areas:
   "hangman"
   "answer"
   "letters";
   @media (min-width: 768px) {
     height: 100vh;
     align-content: center;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 3fr 2fr;
     grid-template-areas:
      "hangman answer"
      "letters letters";
   }
}
