.page--play {
  display: grid;
  grid-template-rows: minmax(200px, 35vh) auto minmax(200px, 35vh);
  grid-template-areas:
   "hangman"
   "answer"
   "letters";
   @media (min-width: 768px) {
     align-content: center;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 5fr 3fr;
     grid-template-areas:
      "hangman answer"
      "letters letters";
   }
}
