// ======================================
//  Grid Layout
// ======================================

.modal {
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  @include flexy($disp: flex, $just: center, $dir: column);
  z-index: 1000;
}

.modal-content {
  @include flexy($disp: flex, $dir: column, $wrap: wrap, $just: center);
	width: 80%;
	margin: 0 auto;
  border-radius: 8px;
  padding: 0 1em;
  @media screen and (min-width: 568px) and (orientation: landscape) {
    width: 70%;
  }
  @media (min-width: 768px) {
    width: 60%;
    max-width: 800px;
  }
}

.modal-content,
.modal-content button {
  font-size: 1.1em;
  @media screen and (min-width: 568px) and (orientation: landscape) {
    @media (max-height: 375px) {
      font-size: 1em;
    }
  }
}

.modal-content button {
	width: auto;
	margin: 0 auto;
	padding: 0.5em 1em;
}

.modal-content p {
  line-height: 1.5;
  margin: .5em 0;
}

.game-screen {
	text-align: center;
  @include flexy($disp: flex, $dir: column, $just: flex-start);
  @media screen and (min-width: 568px) and (orientation: landscape) {
    @include flexy($dir: row, $wrap: wrap);
  }
}

.letters {
	flex: 0 1 80%;
  @include flexy($disp: flex, $wrap: wrap, $just: space-around);
}

.instructions {
	display: none;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
  @media (min-height: 725px) {
    flex: 0 1 35%;
    display: flex;
    @include flexy();
	}
  @media screen and (min-width: 568px) and (orientation: landscape) {
    flex: 0 1 100%;
  }
  @media (min-width: 768px) {
    font-size: 1.2em;
  }
}

.instructions {
  & .left,
  & .right {
  	flex: 0 1 50%;
  	display: inline;
  }
  & .left {
  	text-align: right;
  }
  & .right {
  	text-align: left;
  }
  & p {
  	margin: 0;
    padding: 0 6px;
  }
  & h3 {
  	flex: 0 1 100%;
  	margin: 0.5em 0;
  }
}

.blurred {
  filter: blur(8px);
}
