// ======================================
//  Forms
// ======================================

.input {
	flex: 0 1 60%;
	display: flex;
	flex-direction: column;
	& h2 {
		flex: 0 1 10%;
		padding-top: .5em;
		margin: 0;
		& span {
			margin: 0 .15em;
		}
	  @media (min-width: 768px) {
	    font-size: 40px;
	  }
	}
  @media (min-height: 725px) {
    flex: 0 1 40%;
	}
  @media screen and (min-width: 568px) and (orientation: landscape) {
    flex: 0 1 70%;
  }
}

.hint {
	font-style: italic;
	padding: .25em 0;
	flex: 0 1 10%;
}

input[type="radio"] + label {
	font-size: 1.2em;
}
