#end-screen a {
	color: black;
}

#guessed-letters button {
	background-color: white;
	border-color: black;
	color: black;
}

#hangman svg {
	border: 1px solid black;
}

body {
	color: black;
	background-color: white;
}

#hangman svg line {
	stroke:black;
}

#new-game button {
	background-color: white;
	color: black;
	border-color: black;
}

svg path {
	stroke: black;
}

#canvas_background {
	fill: white;
}
/* Navbar */
.sidebar {
    background-color: #DFDFDF;
}

.sidebar a, #mySidebar span {
    color: #7E7E7E;
}

.sidebar a:hover {
    color: #0E0E0E;
}

.openbtn {
    background-color: #FFF;
    color: black;
}

.openbtn:hover {
    background-color: #BBB;
}
/* Instructions */
#instructions .left {
	border-right: solid #7E7E7E 2px;
}
#instructions h3, #instructions span {
	color: #7E7E7E;
}
