#end-screen a {
	color: white;
}

#guessed-letters button {
	background-color: black;
	border-color: white;
	color: white;
}

#hangman svg {
	border: 1px solid white;
}

body {
	color: white;
	background-color: black;
}

#hangman svg line {
	stroke: white;
}

#new-game button {
	background-color: black;
	color: white;
	border-color: white;
}

svg path {
	stroke: white;
}

#canvas_background {
	fill: black;
}
/* Navbar */
.sidebar {
    background-color: #202020;
}

.sidebar a, #mySidebar span {
	color: #818181;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.openbtn {
    background-color: #111;
    color: white;
}

.openbtn:hover {
    background-color: #444;
}
/* Instructions */
#instructions .left {
	border-right: solid #818181 2px;
}
#instructions h3, #instructions span {
	color: #818181;
}
