@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	height: 100vh;
}

header {
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 1.5em;
}
ul {
	list-style: none;
	padding: 0;
}

button {
	outline: none;
}

main {
	height: calc(100vh - 86px);
}

.game-screen {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

svg {
	flex: 0 1 40%;
}

.input {
	flex: 0 1 60%;
}

.input {
	display: flex;
	flex-direction: column;
}

.input h2 {
	flex: 0 1 10%;
	padding: 1em 0;
	margin: 0;
}

.letters {
	flex: 0 1 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.letters button {
	flex: 0 1 15%;
	font-size: 24px;
	padding: 0;
	margin: 2px;
}

.sidebar {
	height: 100%;
	width: 300px; /* hidden at start */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 1s;
	transition-property: width;
	text-align: center;
}
.sidebar nav {
	font-size: 24px;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.closebtn {
	padding: 8px;
	cursor: pointer;
}
.sidebar li a {
	text-decoration: none;
}
.sidebar .main-nav li,
.closebtn,
button {
	cursor: pointer;
}
.openbtn {
	width: 100%;
	font-size: 20px;
	padding: .5em;
	border: none;
	border-radius: 0;
}

.instructions {
	display: none;
}

@media (min-width: 568px) {
	.game-screen {
		flex-direction: row;
	}
	.game-screen > * {
		border: 1px solid red;
	}
	svg,
	.input {
	}
	.instructions {
		text-align: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 2em 0;
	}

	.instructions p {
		margin: 0;
	}

	.instructions h3 {
		flex: 0 1 100%;
	}

	.instructions div {
		padding: 0 6px;
	}

	.instructions .left {
		text-align: right;
	}

	.instructions .right {
		text-align: left;
	}
}
