@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

ul {
	list-style: none;
	padding: 0;
}

.sidebar {
	height: 100%;
	width: 250px; /* hidden at start */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 1s;
	transition-property: width;
	text-align: center;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.closebtn {
	padding: 8px;
	cursor: pointer;
}
.sidebar li a {
	text-decoration: none;
}
.sidebar li,
.closebtn,
button {
	cursor: pointer;
}

button {
	outline: none;
}

.openbtn {
	width: 100%;
	font-size: 1.2em;
	padding: .5em;
}
