// ======================================
//  Helper Placeholders
// ======================================

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.blurred {
  filter: blur(8px);
}
