// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #4eddb9;

$color-text: #757575;
$color-text-dark: darken($color-text, 10%);
$color-text-light: lighten($color-text, 10%);

// Fonts
$font-stack: "Open Sans", Helvetica, sans-serif;

// Theme colors
$btn-themes: (
  'default': #47d8fc,
  'success': #58c577,
    'error': #e0696f,
  'warning': #fd6c4c,
     'info': #8770b9,
);

$grid-themes: (
  12: lighten(adjust-hue(map-get($btn-themes, 'default'), -25deg), 10%),
   6: darken(map-get($btn-themes, 'default'), 10%),
   4: lighten(map-get($btn-themes, 'default'), 10%),
   3: lighten(map-get($btn-themes, 'info'), 10%),
   5: lighten(map-get($btn-themes, 'success'), 10%),
   7: lighten(map-get($btn-themes, 'error'), 10%),
   8: lighten(map-get($btn-themes, 'warning'), 10%),
   9: lighten(map-get($btn-themes, 'warning'), 20%),
);

// Layout
$max-width: 1400px;
$gutter: 10px;

// Breakpoints
$breakpoints: (
'short': 725px,
 'med' : 568px,
  'lg' : 768px,
);
