* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-dark-grey);
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button,
input {
  outline: 0;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.link {
  color: var(--color-blue);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
