$white: #fff;
$black: #000;

$blue: #034078;

$light-grey: lighten($black, 88%);
$grey: lighten($black, 66%);
$med-grey: lighten($black, 44%);
$dark-grey: lighten($black, 22%);

$nav-height: 50px;
$radius-default: .6rem;

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-light-grey: #{$light-grey};
  --color-grey: #{$grey};
  --color-med-grey: #{$med-grey};
  --color-dark-grey: #{$dark-grey};
  --color-blue: #{$blue};
  --color-transparent: #{rgba($white, .6)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #{invert($black)};
    --color-white: #{invert($white)};
    --color-light-grey: #{invert($light-grey)};
    --color-grey: #{invert($grey)};
    --color-med-grey: #{invert($med-grey)};
    --color-dark-grey: #{invert($dark-grey)};
    --color-blue: #{lighten($blue, 50%)};
    --color-transparent: #{rgba($black, .6)};
  }
}
